.blogs-page {
  .hero {
    display: flex;
    flex-direction: column;
    height: 689px;
    justify-content: center;
    align-items: center;

    &:before {
      content: "";
      background: url("/assets/images/blog/background.jpeg") no-repeat center center/cover;
      position: absolute;
      height: 671px;
      top: 0;
      left: 0;
      width: 100%;
      z-index: -1;
      opacity: 0.3;

      @media (max-width: 768px) {
        width: 800px;
      }
    }

    h1 {
      //color: rgb(16 16 14);
      text-align: center;
      font-weight: 700;
      font-size: 53px;
      padding-top: 10px;
    }

    p {
      color: rgb(16 16 14);
      text-align: center;
      font-size: 1.5rem;
    }
  }

  .segment-header {
    height: 130px;
    background-color: #868686;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;

    h2 {
      font-size: 30px;
      color: #ffffff;
    }

    p {
      font-weight: 300;
    }
  }

  .segments {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;

    @media (max-width: 768px) {
      display: flex;
      width: 2570px;
      flex-direction: column;
    }

    .segment {
      text-align: center;
      backdrop-filter: blur(10px);
      margin-bottom: 10px;


      .segment-body {
        display: flex;
      }

      .sub-segment {
        margin: 1rem;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

        h4 {
          font-size: 16px;
          font-weight: 700;
        }

        p {
          margin: 0;
        }
      }
    }
  }

  .news-feed {
    margin-bottom: 2rem;

    h2 {
      text-align: center;
    }

    .news-list {
      display: flex;
      margin: 0 20px;

      @media (max-width: 768px) {
        display: flex;
        width: 790px;
        flex-direction: column;
      }

      .news-item {
        margin: 1rem;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

        h4 {
          font-size: 16px;
          font-weight: 700;
        }

        .publication-date,
        .excerpt {
          margin-bottom: 0.5rem;
        }
      }
    }
  }

  .events {
    margin-bottom: 2rem;

    h2 {
      text-align: center;
    }

    .event-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin: 0 20px;

      @media (max-width: 768px) {
        display: flex;
        width: 790px;
        flex-direction: column;
      }

      .event-item {
        margin: 1rem;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

        h4 {
          font-size: 16px;
          font-weight: 700;
        }

        .event-date,
        .event-location,
        .event-description {
          margin-bottom: 0.5rem;
        }
      }
    }
  }

  .jobs {
    margin-bottom: 2rem;

    h2 {
      text-align: center;
    }

    .job-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin: 0 20px;

      @media (max-width: 768px) {
        display: flex;
        width: 790px;
        flex-direction: column;
      }

      .job-item {
        margin: 1rem;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

        h4 {
          font-size: 16px;
          font-weight: 700;
        }

        .company,
        .location,
        .description {
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}